/* Write your CSS here */
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  color: #000000;
}
button {
  color: #ff0b37;
  border: #ff0b37 solid 1px;
  border-radius: 6px;
  font-size: 20px;
}
